.header {
  background-color: #F7F7F7;
  padding: 10px 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #101828;
  font-size: 24px;
  font-weight: bold;
}

.navList {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navItem {
  justify-content: space-between;
  align-items: center;
}

.navLink {
  color: #101828;
  text-decoration: none;
  font-size: 16px;
}

.navLink:hover {
  color: #E44B48; /* Червоний колір при наведенні */
}
