.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #101828;
  text-decoration: none;
}

.nav {
  display: flex;
  gap: 30px;
}

.navLink {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #475467;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #E44848;
}

.activeNavLink {
  color: #E44848;
}
