:root {
  --primary-color: #E44848;
  --secondary-color: #475467;
  --background-color: #F7F7F7;
  --highlight-color: #FFC531;
  --text-color: #101828;
  --input-background: #F2F4F7;
  --border-radius: 8px;
}

body {
  font-family: 'Your chosen font';
  color: var(--text-color);
  background-color: #FFF;
}

input {
  background-color: var(--input-background);
  border: 1px solid var(--input-background);
  padding: 10px;
  border-radius: var(--border-radius);
}

button.primary {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: var(--border-radius);
}

button.primary:hover {
  background-color: #DB4343;
}

/* Category buttons */
.category-btn {
  background-color: var(--input-background);
  color: var(--text-color);
  padding: 5px 10px;
  border-radius: var(--border-radius);
}

/* Header navigation */
header a {
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
}

header a.active {
  color: var(--primary-color);
}
