.banner {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.banner-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../img/24c0292d5f6fc639a2ab802af8888c21.jfif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scaleX(-1); 
  z-index: 1;
}

.banner-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  padding-top: 200px; 
}

.banner-content h1 {
  font-size: 3rem;
  font-weight: bold;
}

.banner-content p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.banner-content button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #e44a48;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
