.banner {
  position: relative;
  background-image: url('../../img/24c0292d5f6fc639a2ab802af8888c21.jfif');
  background-size: cover;
  background-position: center;
  transform: scaleX(-1);
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  text-align: center;
  color: white;
}

.banner-content h1 {
  font-size: 3rem;
  font-weight: bold;
}

.banner-content p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.banner-content button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #e44a48;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
