.homeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f7f7;
  gap: 40px;
}

.banner {
  background-image: url('../../img/24c0292d5f6fc639a2ab802af8888c21.jfif'); 
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
}

.bannerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 600px;
  color: white;
}

.bannerTitle {
  font-size: 48px;
  font-weight: bold;
}

.bannerText {
  font-size: 20px;
  margin-top: 10px;
}

.btnPrimary {
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 18px;
  background-color: #E44848;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnPrimary:hover {
  background-color: #DB4343;
}
